:root {
    --color_fondo: #f2f2f2;
}

body {
    background: var(--color_fondo);
    font-family: Tahoma, Verdana, Geneva, sans-serif
}

a {
    text-decoration: none;
}

/* HEADER: TITULO, ENLACES Y CAROUSEL */

header .nav {
    min-height: 80px;
    background: #fff;
    overflow: hidden;
}

header .menu .enc_porta { background: #3da5e2;}
header .menu .enc_acerca { background: #005385; }
header .menu .enc_contacto { background: #003855; }

header .menu .enc_porta:HOVER { background: #1ba0ef;}
header .menu .enc_acerca:HOVER { background: #00426a; }
header .menu .enc_contacto:HOVER { background: #002d44; }

/* SECCION DEL PORTAFOLIO*/

.portafolio {
    border-top: 5px solid #3da5e2;
}

.titulo {
    color: #3da5e2;
    padding: 30px 0; 
}

.contenedor-img {
    /* Limitamos el alto de la imagen y si sobra se corta */
    max-height: 180px;
    overflow: hidden;
}

.contenedor-img a {
    background:#3da5e2;
    /* El enlace ocupa toda la imagen */
    display: inline-block;
}

.contenedor-img a:HOVER img {
    opacity: .3;
}

/* Sección Acerca De */
.acerca-de {
    background: #dfdfdf;    
    padding: 20px;
}

.acerca-de .foto .nombre {
    letter-spacing: 2px;
    font-weight: 300;
    font-size: 18px;
}

.acerca-de .info .resumen {
    letter-spacing: 1px;
}

.acerca-de .info .label {
    font-style: 18px;
    font-style: 600;
    color: #005385;
    margin-bottom: 10px;
}

.acerca-de .info .progress {
    background-color: #005385;
    border-radius: 0;
    height: 25px;
}

.acerca-de .info .progress .progress-bar {
    background-color: #3da5e2;
}

/* Formulario de contacto */
.contacto {
    background: #dfdfdf; 
    margin-top: 20px;   
}


/* Redes Sociales */
.redes-sociales {
    padding:40px 0;
    margin-bottom: 40px;
}

.redes-sociales .icono {
    width:100px;
    height: 100px;
    color: #fff;
    background: #cbcbcb;
    display: inline-block;
    margin: 0px 20px;
    text-decoration: none;
    border-radius: 100px;
}  

.redes-sociales .icono svg {
    height:40px;
    width:40px;
}

.redes-sociales .twitter {
    background-color:#1da1f2;
}

.redes-sociales .instagram { 
    background-color:#833ab4;
}

.redes-sociales .facebook {
    background-color:#3b5998;
}


/* Estilos ventana modal */
.modal-dialog {
    max-width: 1000px; /*Para mostrar las imágenes más grandes */
}

/* Estilos del footer */

/* Se corresponde con el tamaño md de bootstrap Tableta */
@media screen and (max-width: 768px){
    .galeria .contenedor-img:nth-child(1){ order: 1; }
    .galeria .contenedor-img:nth-child(2){ order: 3; }
    .galeria .contenedor-img:nth-child(3){ order: 4; }
    .galeria .contenedor-img:nth-child(4){ order: 2; }
    .galeria .contenedor-img:nth-child(5){ order: 5; }
    .galeria .contenedor-img:nth-child(6){ order: 6; }
    .galeria .contenedor-img:nth-child(7){ order: 7; }
}
