/* Estilos para el dashboard */

body {
    background: #f2f2f2;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none; /* quitar subrayado al enlace */
}

/* Barra lateral */
.barra-lateral {
    background: #262a34;
    color: #fff;
}

.barra-lateral a {
    /* Los enlaces que están dentro de la barra lateral */
    color: #fff;
}

/* Logo */
.barra-lateral .logo {
    background: #0275db;
}

.barra-lateral .logo h2 {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: 300;
}

/* Menú de la izq: */
.barra-lateral .menu a {
    display: block; /* Para colocar un enlace debajo de otro */
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    border-bottom: 1px solid rgba(255,255,255,.1);
}

.barra-lateral .menu a:HOVER {
    background: #35ae6b;
}

/* Los iconos que están dentro del enlace de la barra de la izq. */
.barra-lateral .menu a svg {
    margin-right: 10px;
}

/* ESTILOS DEL MAIN */
.main {
    padding-top: 40px;
}

.main .columna {
    padding: 0 40px; /* 0 en vertical, y 40 en los lateral izq y der */
}

.main .titulo {
    color: #262a34;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin-bottom: 20px;
}

/* Seleccionar los input de tipo text del form */
.main .nueva_entrada form input[type="text"],
.main .nueva_entrada form textarea 
{
    width:100%;
    padding:10px;
    font-family: 'Open Sans', sans-serif;
    border: none;
    margin-bottom: 20px;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,.2);
}

.main .nueva_entrada form textarea {
    height:400px;
    min-height: 200px;
    max-width: 100%;
    min-width: 100%;
}

.main .nueva_entrada button {
    background: #0275d8;
    cursor: pointer;
    color:#fff;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
    border:none;
    display: inline-block;
    padding:10px;
    width:200px;
    border-radius: 3px;
}

.main .nueva_entrada button:HOVER {
    background:#025aa5;
}

.main .nueva_entrada button svg {
    margin-right: 10px;
}

/* Widget estadísticas */
.main .estadisticas .contenedor {
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,.2);    
}

.main .estadisticas .caja {
    background: #fff;
    border: 1px solid #e3e3e3;
    padding: 40px 20px; /* 40 en vertical y 20 en los dos laterales */
    text-align: center;
    flex:1; /* todos los elementos abarquen el 100% */
    font-family: 'Roboto',sans-serif;
}

.main .estadisticas .caja h3 {
    color: #35ae6b;
    margin-bottom: 10px;
}

.main .estadisticas .caja p {
    color: #a8a8a8;
    margin-bottom: 0;
}

.main .estadisticas .caja:first-child {
    border-right: none;
}

.main .estadisticas .caja:last-child {
    border-left: none;
}

/* Comentarios */
.main .comentarios .contenedor {
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,.2);
}

.main .comentarios .comentario {
    background: #fff;
    padding:20px;
    border-bottom: 1px solid #dfdfdf;
}

.main .comentarios .comentario .foto {
    width: 64px;
    height: 64px;
    overflow: hidden;
    margin-right: 20px;
    border-radius: 100px;
}

.main .comentarios .comentario .foto a {
    display: inline-block;
}

.main .comentarios .comentario .foto img {
    width: 100%;
    vertical-align: top;
}

.main .comentarios .comentario .texto {
    flex:1; /* Texto a la derecha de la foto */
}

.main .comentarios .comentario .texto .texto-comentario {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

.main .comentarios .comentario .botones button {
    background: none;
    cursor: pointer;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    border: none;
    display: inline-block; /* Para modificar el padding */
    padding: 5px 10px ;
    border-radius: 3px;    
    margin-right: 10px;
    margin-bottom: 10px;
}

.main .comentarios .comentario .botones .aprobar {
    background: #35ea6b;
}

.main .comentarios .comentario .botones .eliminar {
    background: #d74848;
}

.main .comentarios .comentario .botones .bloquear {
    color: #acacac;
}

.main .comentarios .comentario .botones .aprobar:hover {background: #35ae6b;}
.main .comentarios .comentario .botones .eliminar:hover {background: #c9302c;}
.main .comentarios .comentario .botones .bloquear:hover {color: #fff; background: #acacac;}




